/***********************************************************************************************/
/* Custom Styles for Bootstrap Practice */
/***********************************************************************************************/
@media (min-width: 980px) {
	body {
	padding-top: 5em;
	}
}




#testcarousel .carousel-indicators {
  top: -30px;
}

#testcarousel .carousel-indicators li {
  background-color: #ccc;
}
#testcarousel .carousel-indicators li.active {
  background-color: black;
}