* {
    /*border: 1px solid #BBBDB3;*/
}

body {
    font-size: 1em;
}

.dashboard-widget-container {
    display:relative;
}

    .dashboard-widget-group {

    }
        .dashboard-day-container {
            display: relative;
            height:500px;
            width:800px;
            margin:10px;
        }
            .dashboard-day-header {
                display: relative;
                border:1px solid #BBBDB3

            }
                .dashboard-header-info, .dashboard-header-data, .dashboard-header-percentage, .dashboard-header-trend {
                    display: inline-block;
                    width: 24%;
                }

                .dashboard-header-info, .dashboard-header-data, .dashboard-header-percentage {
                    border-right:1px solid #BBBDB3;
                }

.data-up {
    background-color: #FF6060;
    border-left:1px solid #C60000;
    border-right:1px solid #C60000;
}

.data-down {
    background-color: #61EE37;
}