* {
    /*border: 1px solid #BBBDB3;*/
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
    font-size: 1em;
}

.data-down {
    background-color: #DBF5F2;
    border-left:1px solid #B7D4D0;
    border-right:1px solid #B7D4D0;
}

.data-up {
    background-color: #FDECEE;
    border-left:1px solid #E3D5D5;
    border-right:1px solid #E3D5D5;
}

.column-1 {
    display: inline-block;
    vertical-align: top;
    width:29%;
    border-right: 1px solid hsl(0, 0%, 90%);
    padding:10px;
}

.column-2 {
    display: inline-block;
    vertical-align: top;
    width:29%;
    /*border: 1px solid hsl(0, 0%, 90%);*/
    padding:10px;    
}

.column-3 {
    display: inline-block;
    vertical-align: top;
    width:19%;
    /*background-color: #FF6060;*/
    border-left:1px solid hsl(0, 0%, 90%);
    border-right:1px solid hsl(0, 0%, 90%);
    padding:10px;    
}

.column-4 {
    display: inline-block;
    vertical-align: top;
    width:19%;
    /*border: 1px solid #BBBDB3;*/
    padding:10px;    
}

.accordion-group {
    background: #F5F7F6;
    border-radius:0;
    margin-bottom: 1em;
}

.accordion-inner {
    background-color: #FFF;
}

