html,body {
	/*background: url("../img/light_grey.png");*/
    margin-bottom: 30px;
	height:100%;
}

#main-content {
	background-color: white;
	height: 100%;
	padding-left: 30px;
	padding-right: 30px;
}

#footer {
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navbar-inner {
	margin-top: 10px;
}

input {
	width:100%;
}

tr:first-child td {
	font-size: 62px;
	color: hsla(200, 50%, 50%, 1);
}

tr:first-child td:hover {
	color: black;
}

.rotate tr:first-child td:hover {
    
}

.table th, .table td {
	text-align: center;
}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

.flat-blue {
  color:#3498db;
}