html,body {
	background: url("../img/light_grey.png");
	height:100%;
}

#main-content {
	background-color: white;
	height: 100%;
	padding-left: 30px;
	padding-right: 30px;
}

#footer {
    position: fixed;
    bottom: 0;
    /*width: 100%;*/
}

.navbar-inner {
	margin-top: 30px;
}

input {
	width:100%;
}

tr:first-child td {
	font-size: 62px;
	color: hsla(0, 50%, 50%, 1);
}

tr:first-child td:hover {
	color: black;
}

.table th, .table td {
	text-align: center;
}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}