input {
	width:100%;
}

tr:first-child td {
	font-size: 62px;
	color: hsla(200, 50%, 50%, 1);
}

tr:first-child td:hover {
	color: #000000;
}

.table th, .table td {
	text-align: center;
}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

.flat-blue {
  color:#3498db;
}